# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environnements virtuels
env/
venv/
.venv/

# ---------------------------
# VSCode
# ---------------------------
.vscode/

# ---------------------------
# Logs et fichiers temporaires
# ---------------------------
*.log
*.tmp
*.bak
*.swp

# ---------------------------
# Git
# ---------------------------
*.orig
*.rej

# ---------------------------
# Système
# ---------------------------
.DS_Store
Thumbs.db